* {
  outline: none;
}

.form-control {
  font-size: 14px;
  font-family: 'Roboto', serif;
  font-weight: 400;
  line-height: 20px;
  font-style: italic;
  letter-spacing: 0;
  color: #333333;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 9px 15px;
  box-shadow: none;
  height: 40px;
  letter-spacing: 0;
  &:focus {
    border-color: #f7c956;
    background-color: #fff;
  }
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

*::-webkit-input-placeholder { 
  color: #858585;
  opacity:1;
}
*::-moz-placeholder { 
  color: #858585;
  opacity: 1;
}
*:-ms-input-placeholder { 
  color: #858585;
  opacity: 1;
}
*:-moz-placeholder {
  color: #858585;
  opacity: 1;
}

.search-input {
  position: relative;
  .form-control {
    padding-left: 22px;
    padding-right: 22px;
  }
  .form-control {
    border-color: transparent;
    &:focus {
      border-color: #f7c956;
    }
  }
  *::-webkit-input-placeholder { 
    color: #545454;
  }
  *::-moz-placeholder { 
    color: #545454;
  }
  *:-ms-input-placeholder { 
    color: #545454;
  }
  *:-moz-placeholder {
    color: #545454;
  }
  button {
    height: 40px;
    width: 40px;
    background: #ea2f2f;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    font-size: 14px;
  }
}



.email-form {
  width: 400px;
  position: absolute;
  top: 108px;
  left: 50%;
  margin-left: -99px;
  z-index: 7;
  .form-control {
    padding-left: 25px;
    height: 50px;
    padding-right: 25px;
  }
  .form-control {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);
    &:focus {
      border-color: #f7c956;
      background: #fff;
    }
  }
  *::-webkit-input-placeholder { 
    color: #545454;
  }
  *::-moz-placeholder { 
    color: #545454;
  }
  *:-ms-input-placeholder { 
    color: #545454;
  }
  *:-moz-placeholder {
    color: #545454;
  }
  button {
    height: 50px;
    width: 130px;
    background: #ea2f2f;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #ae8927;
    .gradient3(225deg, #f7c956, #fef4af 32%, #f7c956);
  }
  .fa {
    color: #ae8927;
    font-size: 14px;
    margin: 0 3px;
  }
}

select.form-control {
  background-image: url(../images/select.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

textarea.form-control {
  height: 128px;
  resize: none;
}

.contact-form {
  .form-group {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-control {
    border-color: transparent;
    &:focus {
      border-color: #f7c956;
      background: #fff;
    }
  }
  .btn {
    min-width: 170px;
    .fa {
      margin-left: -10px;
      margin-right: 5px;
    }
  }
}