.slider-full-width{
	img{
		width: 100%;
	}
	.slick-dots{
		right: 46px;
    	bottom: 27px;
    	position: absolute;
	}
}
.slider-image-style{
	overflow: hidden;
	position: relative;
	.transition(0.3s);
	.gradient3(225deg, #f7c956, #fef4af 32%, #f7c956);
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	&:after {
		.transition(0.3s);
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		background:rgba(0, 0, 0, 0.5);
	}
	&:hover {
		&:after {
			opacity: 0;
		}
	}
}



.slider-nav{
	margin-top: 8px;
	.slick-prev{
		left: -35px;
	}
	.slick-next{
		right: -35px;
	}
	.slick-arrow{
		height: 110px;
	}
	.slick-current {
		.slider-image-style{
			> div {
				margin: 4px;
				overflow: hidden;
				> div {
					margin: -4px;
				}
			}
		}
	}
	.slick-current {
		.slider-image-style:after {
			opacity: 0;
		}
	}
}


.section-style-slider-quote {
	margin-bottom: -130px;
	padding-bottom: 124px;
}
.slider-quote{
	.slick-arrow{
		top: 116px;
	}
	.slick-prev {
		left: -55px;
	}
	.slick-next {
		right: -55px;
	}
}
.quote {
	margin-bottom: 30px;
}
.slider-quote-wrap {
	position: relative;
}
.slider-quote-container {
	max-width: 887px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
	> .slider {
		position: static;
	}
}
.text-slider-quote {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 44px;
	> *:last-child {
		margin-bottom: 0;
	}
}
.autor-quote {
	padding-bottom: 41px;
	h6 {
		font-size: 22px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0.6px;
		margin: 0 0 2px;
	}
	p {
		font-size: 14px;
		line-height: 14px;
		margin: 0;
	}
}

