.main-header {
	background: #fff;
	z-index: 99;
	position: fixed;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	width: 100%;
}
.main-header-top {
	background: #181818;
	font-size: 14px;
	letter-spacing: 0;
	.fa {
		color: #ea2f2f;
		margin-right: 6px;
	}
	.fa-clock-o {
		font-size: 16px;
	}
	.fa-shopping-cart {
		font-size: 16px;
	}
	.fa-phone {
		font-size: 14px;
	}
	.main-width {
		padding-top: 13px;
		height: 50px;
		position: relative;
	}
}
.main-header-top-left {
	color: #777777;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	list-style: none;
	li {
		float: left;
		margin-right: 29px;
	}
}
.main-header-top-nav {
	float: right;
	margin-right: 165px;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		float: left;
		margin-left: 47px;
	}
	a {
		text-decoration: none;
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}
.cart-dropdown {
	position: absolute;
	top: 13px;
	right: 55px;
	color: #fff;
}

.logo {
	float: left;
	margin: 19px 0  19px -6px;
}
.main-nav {
	margin-left: 325px;
	padding-top: 51px;
	> ul {
		padding: 0;
		margin: 0;
		list-style: none;
		> li {
			float: left;
			position: relative;
			margin-right: 37px;
			> a {
				font-size: 14px;
				display: block;
				color: #969696;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 700;
				&:hover {
					text-decoration: none;
					color: #000;
					+ .menu-sub-wrap-main {
						display: block;
					}
				}
			}
		}
	}
}

.main-header-btn {
	position: absolute;
	top: 45px;
	right: 55px;
}
.main-header-bottom {
	.main-width {
		height: 130px;
		position: relative;
	}
}

.menu-sub-wrap-main {
	left: -116px;
	top: 100%;
	display: none;
	padding-top: 54px;
	position: absolute;
	background: #fff;
	&:hover {
		display: block;
	}
}
.menu-sub-wrap {
	position: relative;
}
.featured {
	width: 384px;
	padding-top: 20px;
	padding-bottom: 23px;
}
.featured-img {
	margin-left: 23px;
	float: left;
	width: 100px;
}
.featured-content {
	margin-left: 152px;
	font-size: 13px;
	line-height: 15px;
  	letter-spacing: 0.3px;
  	padding-right: 10px;
  	color: #969696;
	h6 {
		font-size: 14px;
		text-transform: uppercase;
		color: #969696;
		margin: 0 0 3px;
		padding: 5px 0 0;
	}
	p {
		margin-bottom: 9px;
	}
}
.featured-sum {
	color: #cd3030;
	font-size: 14px;
	font-weight: 700;
}
.featured-old-sum {
	color: #bababa;
	text-decoration: line-through;
}
.featured-column {
	overflow: hidden;
	margin-bottom: 27px;
	display: block;
	text-decoration: none;
	&:last-child {
		margin-bottom: 0;
	}
	&:hover {
		color: #000;
		text-decoration: none;
		.featured-content {
			color: #000;
			h6 {
				color: #000;
			}
		}
	}
}

.menu-sub-links {
	position: absolute;
	left: 100%;
	top: 0;
	background: #fff;
	white-space: nowrap;
	padding: 5px 5px 5px 0;
	list-style: none;
	margin: 0;
	line-height: 21px;
	font-size: 0;
	a {
		color: #969696;
		padding: 11px 35px;
		display: block;
		background: #f7f7f7;
		text-decoration: none;
		position: relative;
		&:after {
			content: " ";
			display: block;
			height: 4px;
			width: 4px;
			background: #969696;
			border-radius: 100%;
			left: 17px;
			top: 20px;
			position: absolute;
		}
		&:hover {
			background: #cd3030;
			color: #fff;
			&:after {
				background: #fff;
			}
			+ .menu-sub-links {
				display: block;
			}
		}
	}
	li {
		font-size: 14px;
		position: relative;
	}
	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.fa  {
		position: absolute;
		top: 16px;
		right: 20px;
	}
	.menu-sub-links {
		margin-left: 5px;
		top: -5px;
		display: none;
	}
}