html, body {
	height: 100%;
}
.main-width {
	max-width: 1280px;
	margin: auto;
	padding: 0 55px;
}
.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
	clear: both;
}
img{
	margin: auto;
	max-width: 100%;
	display: block;
	height: auto;
}
.main-content {
	padding-top: 180px;
}