.section-style {
	padding-top: 78px;
}
.story-columns {
	padding-bottom: 21px;
	max-width: 970px;
	margin: auto;
	position: relative;

	> .row {
		margin-left: -85px;
		margin-right: -85px;
		> * {
			padding-left: 85px;
			padding-right: 85px;
		}
	}
	&:after {
		content: " ";
		display: block;
		top: 50px;
		bottom: 0;
		left: 50%;
		margin-left: -1px;
		width: 3px;
		background: #eeeeee;
		z-index: 2;
		position: absolute;
	}
}
.story-content {
	position: relative;
	padding-left: 98px;
	font-size: 14px;
	line-height: 1.5;
	min-height: 70px;
	> *:last-child {
		margin-bottom: 0;
	}
}
.story-date {
	position: absolute;
	top: 4px;
	left: 0;
	.gradient3(225deg, #f7c956, #fef4af 32%, #f7c956);
	height: 65px;
	width: 70px;
	color: #ae8927;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 65px;
}
.story-block {
	padding-top: 50px;
	padding-bottom: 25px;
	h4 {
		margin: 0 0 23px 0;
		font-weight: 300;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.5px;
		color: #333333;
		text-transform: uppercase;
		b {
			font-weight: 900;
		}
	}
	img {
		width: 100%;
		margin-bottom: 33px;
	}



	&:after {
		content: " ";
		height: 3px;
		width: 85px;
		background: #eeeeee;
		right: 0;
		top: 110px;
		position: absolute;
		z-index: 2;
	}
	&:nth-child(2) {
		&:after {
			right: auto;
			left: 0;
			top: 242px;
		}
	}

	&:before {
		content: " ";
		width: 12px;
		height: 12px;
		background-color: #cd3030;
		border: solid 3px #cd3030;
		border-radius: 100%;
		background: #fff;
		right: -6px;
		top: 110px;
		position: absolute;
		margin-top: -5px;
		z-index: 3;
		box-shadow: 0 0 0 3px #ffffff;
	}
	&:nth-child(2) {
		&:before {
			right: auto;
			left: -6px;
			top: 242px;
		}
	}
}

.panorama-view {
	max-width: 880px;
	margin: 0 auto 76px;
	line-height: 22px;
}
.panorama-text {
	h5 {
		font-size: 18px;
		color: #000;
		font-weight: 400;
		letter-spacing: 0.5px;
		margin: 0 0 10px 0;
	}
	a {
		color: #1a9de1;
	}
}
.panorama-section {
	padding-bottom: 67px;
	> *:last-child {
		margin-bottom: 0;
	}
}
.panorama * {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.panorama {
	height: 400px;
	margin-bottom: 23px;
}

.closed {
	color: #cd3434;
}

.section-style-gray {
	background: #fafafa;
}

.section-info-wrap {
	.gradient3(75deg, #f7c956 19%, #fef4af 38%, #f7c956 54%);
}
.section-info {
	font-size: 14px;
	line-height: 17px;
	color: #ae8927;
	margin-left: -55px;
	margin-right: -55px;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 11px;
	letter-spacing: 0;
	padding-bottom: 28px;
	> div {
		float: left;
		padding: 0 30px;
		width: 20%;
	}
	h6 {
		font-size: 16px;
		color: #59440d;
		text-transform: uppercase;
		font-weight: 700;	
		margin: 4px 0 13px 0;
	}
	img {
		margin: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.section-three-type-img {
	position: relative;
	z-index: 1;
	img {
		width: 100%;
	}
	&:after {
		content: " ";
		display: block;
		.skewY(-7deg);
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		height: 48px;
		.transform-origin(0 100% 0);
		background: #fff;
		z-index: 1;
	}
	&:before {
		content: " ";
		display: block;
		.skewY(-7deg);
		position: absolute;
		bottom: 0;
		right: 44px;
		left: 44px;
		height: 38px;
		.transform-origin(0 100% 0);
		background: #fff;
		z-index: 2;
	}
}

.section-three-type-content {
	position: relative;
	font-size: 14px;
	color: #333;
	padding: 11px 72px;
	z-index: 2;
	position: relative;
	min-height: 60px;
	h6 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.5px;
		color: #333333;
		margin-top: 0;
		margin-bottom: 26px;
		b {
			font-weight: 900;
		}
	}
}

.section-three-type-number {
	font-size: 60px;
	font-weight: bold;
	line-height: 0.42;
	letter-spacing: -6px;
	position: absolute;
	top: 80px;
	left: 0;
	color: #f5f5f5;
}

.section-three-type-wrap {
	padding-top: 64px;
	padding-bottom: 20px;
}

.floor-group-content {
	height: 303px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	line-height: 300px;
	position: relative;
	h6 {
		font-family: 'Playfair Display';
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.6px;
		text-align: center;
		line-height: 38px;
		color: #ffffff;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
}
.save-floor-group {
	position: absolute;
	top: 32px;
	left: -53px;
	line-height: 32px;
	.gradient3(225deg, #f7c956, #fef4af 32%, #f7c956);
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #ae8927;
	padding: 0 0 0 5px;
	.rotate(-45deg);
	 width: 192px;
	 text-align: center;
}
.save-floor-group-wrap {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	height: 300px;
	overflow: hidden;
}

.section-floor-group {
	padding-bottom: 78px;
	.title-primary {
		margin-bottom: 90px;
	}
}

.see-our-works {
	padding-top: 96px;
	.title-primary {
		margin-bottom: 29px;
	}
}
.showrooms-hover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: #cd3434;
	padding: 31px 43px;
	opacity: 0;
	.transition(0.4s);
	h6 {
		font-size: 32px;
		line-height: 1.2;
		letter-spacing: 0.05em;
		color: #fff;
		font-family: 'Playfair Display';
		margin-bottom: 15px;
	}
	p {
		font-size: 14px;
	}
	a {
		color: #cd3434;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.showrooms-plus {
	height: 100px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	&:after {
		content: " ";
		display: block;
		border-right: 100px solid #cd3434;
		border-top: 100px solid transparent;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	.fa {
		z-index: 2;
		color: #fff;
		position: absolute;
		bottom: 23px;
		right: 23px;
	}
	&:hover {
		text-decoration: none;
		&:after {
			border-right-color: #cd3434 - 20%;
		}
	}
}

.showrooms-img {
	position: relative;
	&:hover {
		.showrooms-hover {
			opacity: 1;
		}
	}
}

.slider-block {
	height: 476px;
	padding: 0 15px;
	.btn-bottom {
		opacity: 0;
		.transition(0.2s);
	}
	&:hover {
		.slide-img-wrap {
			margin-top: 0;
		}
		.slide-img {
			height: 422px;
		}
		.slide-text {
			opacity: 1;
		}
		.btn-bottom {
			opacity: 1;
		}
	}
}
.slider-blocks-wrap {
	margin-left: -15px;
	margin-right: -15px;
	.slick-prev {
		left: -25px;
		height: 100%;
		top: 50%;
		margin: 0;
		background: #fff;
		width: 40px;
		&:before {color: #bababa;}
	}
	.slick-next {
		right: -25px;
		height: 100%;
		top: 50%;
		margin: 0;
		background: #fff;
		width: 40px;
		&:before {color: #bababa;}
	}
}
.slide-img-wrap {
	margin-top: 78px;
	overflow: hidden;
	.transition(0.2s);
}
.slide-img {
	height: 320px;
	position: relative;
	margin-bottom: 54px;
	background-size: cover;
	background-position: 50% 50%;
	.transition(0.2s);
}

.slide-content {
	position: absolute;
	bottom: -54px;
	left: 0;
	width: 100%;
}

.slide-text {
	line-height: 19px;
	padding: 20px 48px 18px;
	color: #fff;
	text-align: left;
	opacity: 0;
	.transition(0.2s);
	h6 {
		color: #fff;
		font-family: "Playfair Display";
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 1.6px;
		line-height: 38px;
		margin: 0 0 18px 0;
	}
}

.block-style {
	background: #fafafa;
	font-size: 14px;
	padding: 9px 7px;
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.decoration-title {
	color: #000;
	text-decoration: underline;
}

.note {
	background: #333333;
	color: #fefefe;
	font-size: 14px;
	padding: 20px 19px;
	line-height: 16px;
	overflow: hidden;
	margin-bottom: 38px;
	border-radius: 0 0 3px 3px;
	*:last-child {
		margin-bottom: 0;
	}
	b {
		font-weight: 900;
	}
}
.note-left {
	float: left;
	width: 48px;
}
.note-right {
	margin-left: 48px;
}

.brands {
	*:last-child {
		margin-right: 0;
	}
	> div {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 20px;
	}
}
.form-step {
	position: relative;
	> *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.section-three-type-number {
		left: -60px;
		top: 110px;
	}
}
.form-wrap {
 padding: 7px 82px 0 68px;
}
.wrap-form-group {
	padding-bottom: 40px;
	img {
		margin: 0;
	}
}
@media (min-width: 768px) {
	.wrap-form-group {
		> *:last-child {
			margin-bottom: 0;
		}
		.row:last-child {
			.form-group:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.mastercard {
	color: #000;
	margin-left: 4px;
	margin-right: 4px;
}
.wrap-label {
	padding-right: 200px;
	padding-top: 10px;
	h4 {
		font-size: 20px;
		line-height: 1.25;
		font-weight: 400;
		letter-spacing: 0.5px;
		margin: 0;
	}
}

.checkbox-wrap {
	overflow: hidden;
	display: inline-block;
	margin-right: 24px;
	&:last-child {
		margin-right: 0;
	}
	b {
		font-weight: 900;
	}
	input {
		display: none;
		&:checked {
			~ .checkbox {
				background: #cd3434;
				border-color: #cd3434;
				.fa {
					opacity: 1;
				}
			}
			~ span {
				color: #333333;
			}
		}
	}
	img {
		display: inline-block;
		vertical-align: top;
		margin-left: 18px;
	}
}
.checkbox {
	border: 1px solid #959595;
	border-radius: 2px;
	height: 13px;
	width: 13px;
	position: relative;
	float: left;
	margin: 5px 10px 5px 0;
	.fa {
		opacity: 0;
		font-size: 11px;
		top: 0;
		left: 0;
		position: absolute;
		color: #fff;
	}
}

.answer-wrap {
	margin-top: -5px;
	position: absolute;
	right: 0;
	top: 50%;
	.checkbox-wrap {
		float: left;
		margin-left: 25px;
		margin-right: 0;
	}
}
.form-step {
	border-bottom: 1px solid #e1e1e1;
	padding: 39px 0;
	&:last-child {
		border: none;
	}
}
.plus-input {
  height: 30px;
  width: 30px;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
  background: #bababa;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: -12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  .transition(0.2s);
  letter-spacing: -1px;
  &:hover {
    background: #cd3434;
  }
}
.title-small-wrap {
  overflow: hidden;
  margin-bottom: 28px;
  .title-small {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    color: #bababa;
    display: inline-block;
    margin-bottom: 10px;
  }
}
.form-group-position {
	padding-right: 204px;
	.plus-input {
		float: left;
		margin: -3px -12px -3px 30px;
		position: relative;
		right: 0;
		top: 0;
	}
	.answer-wrap {
		margin-top: -14px;
	}
}

.form-group-position2 {
	padding-right: 254px;
	.plus-input {
		margin-left: 19px;
	}
	.checkbox-wrap {
		margin-left: 19px;
	}
}

.form-group-width-icon {
	.form-control {
		padding-left: 42px;
	}
	.fa {
		font-size: 14px;
		color: rgba(133, 133, 133, 0.5);
		left: 14px;
		position: absolute;
		top: 13px;
	}
}
.checkbox-wrap-text {
	font-size: 14px;
	a {
		color: #ea2f2f;
	}
	.checkbox {
		margin-top: 4px;
		margin-bottom: 3px;
	}
	&:first-child {
		margin-left: 0;
	}
}
.sidebar-group {
	padding-top: 46px;
}
.edit-cart-wrap {
	position: relative;
	.title-small {
		padding-right: 50px;
	}
}

.edit-cart {
	position: absolute;
	right: 16px;
	top: 49px;
	font-size: 15px;
	color: #cd3434;
	font-weight: 700;
	&:hover, &:focus {
		color: #cd3434;
	}
}

.table-li {
	li {
		display: table;
		width: 100%;
		> div {
			display: table-cell;
			padding: 5px 9px;
		}
		&:after {
			left: -8px;
			top: 14px;
			background: #000;
		}
	}
	a {
		color: #000;
	}
}

.note-column {
	position: relative;
	overflow: hidden;
	> div {
		float: left;
		padding: 2px 0;
		width: 50%;
		&:last-child {
			text-align: right;
		}
	}
	&:after {
		content: " ";
		display: block;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		height: 20px;
		width: 1px;
		background: #797979;
		position: absolute;
	}
}

#map {
	height: 422px;
	.gm-style-mtc {
		display: none;
	}
	.gmnoprint {
		display: none;
	}
	.gm-style-cc {
		display: none;
	}
}

.contact-info {
	list-style: none;
	color: #000000;
	padding: 0;
	margin-top: 47px;
	.fa {
		color: #cc3333;
		margin-right: 5px;
	}
	li {
		margin-bottom: 20px;
		span {
			display: inline-block;
			vertical-align: top;
			margin-right: 17px;
		}
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.contact-block {
	padding-top: 90px;
	padding-bottom: 80px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 53px;
	.title-primary {
		text-align: left;
		margin-bottom: 38px;
	}
}

.contact-block-left {
	padding-right: 40px;
}
.contact-block-right {
	margin: auto;
	max-width: 430px;
}
.room-size {
	font-size: 14px;
	font-weight: 700;
	color: #bababa;
	margin-bottom: 23px;
	.form-control {
		width: 80px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px;
		font-style: normal;
		font-size: 16px;
		color: #000;
		text-align: center;
	}
}
.link-text-wrap {
	float: right;
	padding: 4px 0;
	.plus-input {
		position: static;
		display: inline-block;
		vertical-align: middle;
	}
}
.link-text {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	&:hover {
		color: #cd3030;
	}
}
.room-size-title {
	margin-right: 14px;
}
.cross {
	font-size: 20px;
	color: #333;
}

.wrap-room-size {
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
}

.product-left {
	.title-primary {
		text-align: left;
	}
}
.product-content {
	padding-top: 67px;
}
.product-left {
	padding: 28px 45px 30px 30px;
	.title-primary {
		margin-bottom: -5px;
	}
}
.sum-product {
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0.9px;
	color: #ebcc66;
	font-family: 'Playfair Display';
	> span {
		font-size: 36px;
		font-weight: 900;
	}
}
.product-info {
	font-size: 18px;
	font-style: italic;
	letter-spacing: 0.5px;
	text-align: left;
	color: #545454;
	display: inline-block;
	vertical-align: top;
	margin: 18px 0 0 6px;
 }
 .product-text {
 	font-size: 18px;
 	line-height: 27px;
 	margin-bottom: 43px;
 }
 .product-top-info {
 	margin-bottom: 30px;
 }
 .total-price {
 	font-size: 16px;
 	font-weight: 700;
 	color: #000;
 	padding-top: 5px;
 	padding-bottom: 26px;
 	.sum-product {
		display: inline-block;
		margin-bottom: -10px;
		margin-left: 6px;
		vertical-align: bottom;
 	}
 }

 .product-btns {
 	.btn {
 		padding-left: 39px;
 		padding-right: 39px;
 		margin-right: 16px;
 		.fa {
 			margin-right: 8px;
 		}
 	}
 }

.slider-style2 {
	.slick-arrow {
		background: #c5c5c5;
		&:hover {
			background: #8b8b8b;
		}
	}
	.slick-prev {
		left: -40px;
	}
	.slick-next {
		right: -40px;
	}
}

.slider-style2 {
	margin-left: -15px;
	margin-right: -15px;
	padding-bottom: 38px;
} 
.slide-style {
	padding-left: 15px;
	padding-right: 15px;
}
.btns-bottom {
	.btn {
		width: 50%;
		float: left;
		border-radius: 0 0 5px 0;
		&:first-child {
			border-radius: 0 0 0 5px;
		}
	}
}
.wrap-slider-style2 {
	.title-primary {
		margin-bottom: 91px;
	}
}

.title-tabs {
	border-bottom: 1px solid #cd3030;
	padding-left: 35px;
	list-style: none;
	overflow: hidden;
	li {
		float: left;
		margin-right: 1px;
	}
	a {
		display: block;
		background: #f5f5f5;
		color: #bababa;
		text-decoration: none;
		padding: 8px 40px;
		&:hover {
			background: #f5f5f5 - 10%;
		}
	}
	.active {
		a {
			background: #cd3030;
			color: #fff;
		}
	}
}
.content-tabs {
	padding: 32px 70px 0;
	&:last-child {
		margin-bottom: 0;
	}
}

.content-slide {
	text-align: left;
	width: 50%;
	padding-left: 64px;
	padding-right: 15px;
	.title-primary {
		color: #fff;
		text-align: left;
		margin-bottom: -6px;
	}
	.product-text {
		margin-bottom: 4px;
	}
}

.options {
	font-size: 14px;
}
.slider-range {
	&.ui-slider-horizontal {
		height: 3px;
		border-color: #f5f5f5;
		background-color: #f5f5f5;
		border-radius: 0;
		.ui-slider-range {
			background-color: #cd3030;
			height: 3px;
		}
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
		height: 15px;
		width: 15px;
		background-color: #cd3030;
		border: none;
		border-radius: 100%;
		top: -6px;
		box-shadow: 0 0 0 2px #fff;
	}
	
}
.filters-block {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 16px;
	margin-bottom: 31px;
	.form-group {
		margin-bottom: 1px;
	}
	.slider-range-wrap {
		margin-top: -5px;
	}
	&:last-child {
		border-bottom: none;
	}
}
.options {
	margin-bottom: 11px;
}

.slider-range-wrap {
	margin-bottom: 48px;
}

.product-grid {
	padding-left: 30px;
	padding-top: 16px;
	.floor-group {
		margin-bottom: 68px;
	}
}

.product-search {
	padding-top: 47px;
}
.pagination {
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 14px;
	color: #959595;
	margin-top: 10px;
	a {
		color: #959595;
		text-decoration: none;
		&:hover {
			color: #000;
		}
	}
	li {
		float: left;
		margin-right: 24px;
	}
	.active {
		font-weight: 700;
		color: #cd3434;
		a {
			color: #cd3434;
		}
	}
}


.inputs-colors {
	position: absolute;
	top: 10px;
	right: 0;
}

.input-color {
	float: left;
	margin-left: 15px;
	> div {
		height: 30px;
		width: 30px;
		box-shadow: 0 0 0 4px #f6f6f6;
		border-radius: 100%;
		text-align: center;
		line-height: 30px;
		font-size: 12px;
		color: #fff;
	}
	.fa {
		opacity: 0;
	}
	input {
		display: none;
		&:checked {
			+ div {
				box-shadow: 0 0 0 4px #e4e4e4;
				.fa {
					opacity: 1;
				}
			}
		}
	}
}


.input-floor {
	height: 60px;
	width: 60px;
	float: left;
	border-radius: 3px;
	background-size: cover;
	background-position: 50% 50%;
}

.input-floor-text {
	display: block;
	margin-left: 78px;
	height: 60px;
	font-size: 0;
	letter-spacing: 0;
	color: #959595;
	> span {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		font-size: 14px;
		line-height: 16px;
		font-weight: bold;
		letter-spacing: 0.4px;
		text-transform: uppercase;
	}
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

.input-floors {
	float: left;
	display: block;
	width: 32%;
	margin-left: 2%;
	cursor: pointer;
	margin-bottom: 30px;
	input {
		display: none;
		&:checked {
			~ .input-floor {
				box-shadow: 0 0 0 2px #cd3434;
			}
			~ .input-floor-text {
				color: #cd3434;				
			}
		}
	}
	&:nth-child(3n + 1) {
		margin-left: 0;
	}
}

.inputs-floors {
	margin-top: 30px;
	&:after {
		content: " ";
		display: table;
		width: 100%;
		clear: both;
	}
}

.upload-link {
	display: inline-block;
	color: #cd3434;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 28px;
	.fa {
		margin-right: 3px;
	}
}

.upload-images {
	margin: 45px -6px 18px;
	> div {
		float: left;
		position: relative;
		width: 25%;
		padding: 0 6px;
		margin-bottom: 12px;
	}
	img {
		width: 100%;
		border-radius: 3px;
	}
	&:after {
		content: " ";
		display: block;
		width: 100%;
		clear: both;
	}
	.plus-input {
		right: 16px;
		top: -12px;
	}
}

.left-form {
	padding-left: 65px;
	padding-right: 86px;
}
.form-group-colors {
	padding-right: 200px;
}


.room-size-wrap {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 39px;
	.room-size {
		margin-bottom: 39px;
	}
}

.checkbox-style {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 15px;
	margin-bottom: 19px;
	.fa {
		background-color: #f5f5f5;
  		border: solid 2px #dadada;
  		position: absolute;
  		left: 12px;
  		top: 50%;
  		border-radius: 100%;
  		margin-top: -12px;
  		height: 24px;
  		line-height: 20px;
  		text-align: center;
  		font-size: 11px;
  		width: 24px;
  		&:before {
  			opacity: 0;
  		}
	}
	span {
		background-color: #f5f5f5;
		font-size: 14px;
		color: #bababa;
		display: block;
		font-weight: 700;
		padding: 13px 24px 13px 48px;
		border: solid 1px #e8e8e8;
		border-radius: 3px;
	}
	&:hover {
		span {
			background-color: #f0f0f0;
		}
	}
	input {
		display: none;
		&:checked {
			~ span {
				background-color: #cd3030;
				border-color: #cd3030;
				color: #fff;
			}
			~ .fa {
				color: #cd3030;
				background-color: #fff;
				border-color: #fff;
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.form-style {
	margin-top: 56px;
	position: relative;
	overflow: hidden;
	.form-step {
		padding: 20px 0;
	}
	.section-three-type-number {
		font-size: 54px;
		left: -56px;
		top: 94px;
	}

	> .row {
		position: relative;
		&:before {
			content: " ";
			display: block;
			top: 0;
			bottom: 0;
			width: 3px;
			background-color: #eeeeee;
			position: absolute;
			top: 0px;
			left: 66.6667%;
			margin-left: -26px;
			z-index: 0;
		}
		&:last-child {
			&:before {
				height: 100px;			
			}
		}
	}
	> .row.active {
		.text-position-number {
			.fa {
				opacity: 1;
			}
			&:after {
				background-color: #cd3030;
			}
		}
		.text-position:after {
			content: " ";
			display: block;
			width: 3px;
			background-color: #cd3030;
			position: absolute;
			left: -88px;
			margin-bottom: -100px;
			height: 1000px;
			bottom: 100%;
			z-index: 1;
		}
	}
}

.text-position {
	margin-left: 47px;
	padding-top: 78px;
	position: relative;
}

.text-position-number {
	position: absolute;
	top: 93px;
	left: -99px;
	width: 25px;
	height: 25px;
	background-color: #eeeeee;
	border-radius: 100%;
	color: #bababa;
	font-size: 13px;
	line-height: 25px;
	text-align: center;
	box-shadow: 0 0 0 4px #fff;
	z-index: 5;
	.fa {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 25px;
		font-size: 11px;
		color: #fff;
		background-color: #cd3030;
		border-radius: 100%;
		opacity: 0;
	}
	&:after {
		content: " ";
		display: block;
		height: 3px;
		width: 52px;
		background-color: #eeeeee;
		position: absolute;
		top: 12px;
		left: 29px;
	}
}

.sum {
	color: #cd3030;
}

.title-primary-wrap {
	text-align: left;
	.title-primary {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 15px;
		margin-right: 13px;
	}
	p {
		font-size: 16px;
		font-style: italic;
		line-height: 1.56;
		letter-spacing: 0.4px;
		text-align: left;
		color: #cacaca;
		margin-top: 25px;
		display: inline-block;
		vertical-align: middle;
	}
}

.form-full-width {
	padding-left: 50px;
	.form-step {
		padding: 20px 0;
		border: none;
	}
	.title-primary {
	}
}

.project-text {
	padding-left: 50px;
	padding-top: 12px;
	h4 {
		margin: 0;
		font-size: 28px;
		text-transform: uppercase;
		letter-spacing: 0.7px;
		font-weight: 300;
		b {
			font-weight: 900;
		}
	}
	a {
		color: #cd3434;
		&:hover {
			color: #cd3434 - 40%;
		}
	}
	p {
		margin-bottom: 22px;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.sub-title-project {
	margin-bottom: 23px;
}

.read-more {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}

.projects {
	padding-top: 58px;
	> div {
		margin-bottom: 60px;
	}
}

.load-more {
	text-align: center;
	padding-top: 70px;
	margin-bottom: 73px;
}

.categories {
	padding: 68px 70px 30px;
}
.category-block {
	height: 345px;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
	padding: 19px 43px;
	a {
		color: #f7c956;
	}
	p {
		margin-bottom: 18px;
	}
	h4 {
		font-size: 32px;
		font-family: 'Playfair Display';
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.025em;
		color: #fff;
	}
}
.category-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 36px 43px;
	p:last-child {
		margin-bottom: 0;	
	}
}
.category-block-wrap {
	margin-bottom: 60px;
}
.wrap-modal {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	text-align: center;
	display: none;
	&:after {
		content: " ";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}
.modal {
	background-color: #fff;
	width: 570px;
	max-width: 100%;
	padding: 60px 100px 22px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	position: relative;
	.title-primary {
		text-align: left;
		letter-spacing: 1px;
		margin-bottom: 63px;
	}
	.form-control {
		font-size: 16px;
		padding: 8px 20px;
		height: 50px;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.btn {
		margin-bottom: 6px;
	}
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 54px;
	font-size: 32px;
	color: #59440d;
	letter-spacing: 0;
	text-align: center;
	line-height: 47px;
	width: 54px;
	font-weight: 300;
	cursor: pointer;
	.gradient3(225deg, #f7c956, #fef4af 32%, #f7c956);
}
.forgot-you-password {
	margin-bottom: 17px;
	margin-top: -8px;
	font-size: 14px;
	font-style: italic;
	a {
		color: #959595;
	}
}

.footer-modal {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 20px;
	font-weight: 300;
	color: #333333;
	text-align: center;
	margin-top: 39px;
	padding-top: 20px;
	a {
		font-weight: 400;
		color: #cd3434;
	}
}
.show-modal {
	display: block;
}

.title-cart-dropdown {
	padding-bottom: 16px;
}

.cart-dropdown-content {
	position: absolute;
	top: 100%;
	right: -44px;
	background-color: rgba(24, 24, 24, 0.95);
	width: 296px;
	padding: 11px 15px 8px;
	z-index: 9;
	display: none;
	.btn {
		margin-bottom: 7px;
	}
}
.cart-dropdown:hover {
	.cart-dropdown-content {
		display: block;
	}
}

.product-cart-img {
	float: left;
	width: 70px;
	img {
		width: 100%;
		border-radius: 3px;
	}
}
.product-cart-content {
	margin-left: 83px;
	margin-right: 35px;
	color: #959595;
	font-size: 14px;
	h5 {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 0.4px;
		margin: 6px 0 1px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		a {
			text-decoration: none;
		}
	}
	p {
		margin-bottom: 0px;
	}
}
.product-cart-sum {
	font-size: 16px;
	font-weight: 900;
	color: #cd3030;
}
.product-cart {
	overflow: hidden;
	position: relative;
	margin-bottom: 14px;
}
.product-cart-remove {
	position: absolute;
	top: 15px;
	right: -8px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}
.product-cart-total {
	padding-top: 10px;
	border-top: 1px solid #363636;
	margin-top: 18px;
	margin-bottom: 17px;
	padding-top: 14px;
}
.section-style-last-projects {
	.title-primary {
		margin-bottom: 0;
	}
}
@media (max-width: 1900px) {
	.menu-sub-wrap-main {
		left: -282px;
	}
}

@media (max-width: 1570px) {
	.menu-sub-links li {
		font-size: 12px;
	}
}
@media (max-width: 1470px) {
	.menu-sub-links li {
		font-size: 12px;
	}
	.featured-img {
		width: 70px;
	}
	.featured-content {
		margin-left: 110px;
	}
	.featured-content h6 {
		font-size: 12px;
		margin: 0;
	}
	.featured-content {
		font-size: 11px;
	}
	.featured-sum {
		font-size: 12px;
	}
	.featured-content p {
		margin-bottom: 4px;
	}
	.featured {
		width: 280px;
	}
	.menu-sub-wrap-main {
		left: -194px;
	}
	.menu-sub-links a {
		padding: 11px 27px;
	}
}
@media (max-width: 1340px) {
	.menu-sub-links ul {
		display: block;
	}
	.menu-sub-wrap-main {
		left: -86px;
	}
	.main-nav {
		margin-left: 244px;
	}
}
@media (max-width: 1250px) {
	.become-member-text {
		right: auto;
		left: 0px;
		padding-left: 55px;
		margin: 0;
	}
	.become-member-text > div {
		position: relative;
	}
}
@media (max-width: 1200px) {
	.main-nav > ul > li {
		margin-right: 20px;
		position: static;
	}
	.menu-sub-wrap-main {
		left: 20px;
		margin-top: -54px;
	}
	.email-form {
		right: 55px;
		left: auto;
		margin-left: 0;
	}
	.slider-nav {
		padding-left: 36px;
		padding-right: 36px;
		margin-top: 20px;
	}
	.slider-nav .slick-prev {
		left: 0;
		height: 100%;
	}
	.slider-nav .slick-next {
		right: 0;
		height: 100%;
	}
	.product-btns .btn {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 1150px) {
	.main-header-top-nav li {
		margin-left: 24px;
	}
	.main-header-top-nav {
		margin-right: 120px;
	}
}
@media (max-width: 1024px) {
	.open-menu + .menu-sub-wrap-main {
		display: block;
	}
	.open-menu-sub-links + .menu-sub-links {
		display: block;
	}
	.top-page {
		background-attachment: scroll;
		background-size: cover;
		background-position: 50% 0 !important;
		top: -100px;
		margin-bottom: -100px;
		padding-top: 42%;
	}
	.top-page-container {
		top: 100px;
		bottom: 0;
		height: auto;
	}
	.slick-slide {
		.top-page-container {
			top: 0;
		}
	}

}
@media (max-width: 1010px) {
	.logo {
		width: 140px;
	}
	.main-nav {
		margin-left: 158px;
		padding-top: 44px;
	}
	.main-header-bottom .main-width {
		height: 100px;
	}
	.menu-sub-wrap-main {
		margin-top: -30px;
		padding-top: 30px;
	}
	.main-header-btn {
	    right: 20px;
	    top: 30px;
	}
	.main-nav > ul > li > a {
		font-size: 11px;
	}
	.main-nav > ul > li > a .fa-angle-down {
		margin-top: 2px;
	}

/*	.main-nav > ul > li > a:hover .fa-angle-down {
		margin-top: 4px;
	}*/

	.main-nav > ul > li::after {
		top: auto;
		bottom: 0;
		height: 40px;
		width: 550px;
	}

	.main-content {
		padding-top: 150px;
	}

	.section-info {
		margin-left: -20px;
		margin-right: -20px;
		& > div {
			padding: 0 20px;
		}
	}

}
@media (max-width: 1160px) {
	.story-columns > .row {
		margin-left: -55px;
		margin-right: -55px;
	}
	.story-columns > .row > * {
		padding-left: 55px;
		padding-right: 55px;
	}
	.story-block:after {
		width: 55px;
	}
	.cart tbody td {
		padding: 15px;
	}
}
@media (max-width: 1100px) {
	.showrooms-hover {
		padding: 10px 15px;
	}
	.input-floor-text > span {
		font-size: 10px;
	}
}
.wrap-slider-style2 {
	.slick-dots {
		display: none !important;
	}
}
@media (max-width: 1000px) {
	.main-header-top {
		font-size: 12px;
	}
	.main-header-top-left li {
		margin-right: 10px;
	}
	.main-header-top-nav li {
		margin-left: 10px;
	}
	.main-width {
		padding-right: 20px;
		padding-left: 20px;
	}
	.cart-dropdown {
		right: 20px;
	}
	.cart-dropdown-content {
		right: -15px;
	}
	.become-member-text {
		padding-left: 20px;
	}
	.email-form {
		right: 20px;
	}
	.slider-blocks-wrap {
		margin-left: 5px;
		margin-right: 5px;
	}
	.showrooms-hover h6 {
		font-size: 18px;
	}
	.showrooms-hover p {
		font-size: 12px;
	}
	.story-columns > .row {
		margin-left: -20px;
		margin-right: -20px;
	}
	.story-columns > .row > * {
		padding-left: 20px;
		padding-right: 20px;
	}
	.story-block:after {
		width: 20px;
	}
	.slider-quote .slick-prev {
		left: -20px;
	}
	.slider-quote .slick-next {
		right: -20px;
	}
	.footer-cart-left > div {
		padding: 0 7px;
	}
	.footer-cart {
		padding: 10px;
	}
	.wrap-slider-style2 {
		padding-left: 35px;
		padding-right: 35px;
	}
	.room-size {
		font-size: 10px;
	}
	.room-size .form-control {
		font-size: 12px;
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.room-size-title {
		margin-right: 0;
	}
	.product-btns .btn {
	    font-size: 10px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.input-floor {
		height: 40px;
		width: 40px;
	}
	.input-floor-text {
		height: 40px;
		margin-left: 50px;
	}
	.input-floors {
		width: 50%;
		margin-left: 0;
		padding-right: 10px;
	}
}

@media (max-width: 900px) {
	.top-page {
		padding-top: 50%;
	}
	.content-slide {
		padding-left: 0;
		padding-right: 0;
		width: 80%;
	}
}
@media (min-width: 768px) {
	.menu-wrap .main-header-top-nav {
		display: none;
	}
	.menu-mobile-button {
		display: none;
	}
}
@media (max-width: 880px) {
	.become-member-text h4 {
		font-size: 26px;
		line-height: 26px;
	}
	.become-member-text p {
		font-size: 26px;
	}
	.become-member-text > div {
		width: 350px;
	}
}
@media (max-width: 767px) {
	.main-header-top .main-width {
		padding-bottom: 13px;
		height: auto;
		&:after {
			content: " ";
			display: block;
			clear: both;
			width: 100%;
		}
	}
	.main-header-top {
		font-size: 10px;
	}
	.main-header-top .fa-clock-o {
		font-size: 12px;
	}
	.main-header-top .fa {
		margin-right: 2px;
	}
	.main-header-top .fa-phone {
    	font-size: 11px;
	}
	.main-header-top .fa-shopping-cart {
		font-size: 12px;
	}
	.title-cart-dropdown {
		padding-bottom: 12px;
	}
	.main-header-top-nav {
		display: none;
	}
	.main-header-bottom .main-width {
		height: 64px;
	}
	.logo {
		width: 120px;
		margin: 0;
		padding-top: 6px;
	}
	.main-header {
		position: relative;
	}
	.menu-mobile-button {
		display: block;
		position: absolute;
		right: 0;
		cursor: pointer;
		top: 0;
		width: 40px;
		padding: 22px 10px;
		> div {
			height: 2px;
			margin: 4px 0;
			background-color: #000;
		}
	}
	.menu-mobile-open {
		.menu-mobile-button {
			> div:nth-child(1) {
				.rotate(45deg);
				position: relative;
				top: 6px;
			}
			> div:nth-child(2) {
				opacity: 0;
			}
			> div:nth-child(3) {
				.rotate(-45deg);
				position: relative;
				top: -6px;
			}
		}
		.menu-wrap {
			display: block;
		}
	}
	.menu-wrap {
		position: absolute;
		top: 100%;
		display: none;
		left: 0;
		width: 100%;
		background-color: #e0e0e0;
		text-align: center;
		padding: 10px 0;
		z-index: 4;
		.main-nav {
			margin: 0;
			padding: 0;
		}
		.main-header-btn {
			position: static;
			margin-bottom: 10px;
		}
		.main-nav > ul > li::after {
			display: none;
		}
		.main-nav > ul > li {
			margin: 0;
			float: none;
			> a {
				padding: 10px 0;
			}
		}
		.menu-sub-wrap-main {
			position: static;
		}
		.featured {
			display: none;
		}
		.menu-sub-links {
			position: static;
		}
		.menu-sub-wrap-main {
			padding: 0;
			margin: 0;
		}
		.menu-sub-links {
			padding: 0;
		}
		.open-menu-sub-links + .menu-sub-links {
			padding: 0;
			a {
				background-color: #e8e8e8;
			}
		}
		.main-header-top-nav {
			display: block;
			margin: 0;
			float: none;
		}
		.main-header-top-nav li {
			display: block;
			margin: 0;
			padding: 10px 0;
			text-align: center;
			float: none;
			color: #969696;
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.main-header-top-nav li a {
			color: #969696;
		}
	}
	.main-content {
		padding-top: 0;
	}
	.top-page {
		height: 320px;
		padding-top: 0;
	}
	.top-page-content h1 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.top-page-content {
		font-size: 14px;
		line-height: 16px;
	}
	.top-page-content .btn {
		margin-top: 10px;
	}
	.btn-circle {
		padding: 10px 20px;
	}
	.slider-full-width .slick-dots {
		display: none !important;
	}
	.section-info > div {
		float: none;
		width: 100%;
		margin: 30px 0;
	}
	.section-three-type-img::after {
		height: 92px;
	}
	.section-three-type-content {
		padding-right: 0;
	}
	.section-floor-group {
	    padding-bottom: 38px;
	}
	.section-style {
	    padding-top: 38px;
	}
	.section-floor-group .title-primary {
		margin-bottom: 38px;
	}
	.floor-group {
		margin-bottom: 20px;
	}
	.become-member-text {
		top: 90px;
		height: auto;
		bottom: -10px;
	}
	.become-member-text > div {
		padding-top: 48px;
	}
	.email-form {
		left: 20px;
		width: auto;
		top: 19px;
	}
	.title-primary {
		font-size: 32px;
	}
	.slide-img-wrap {
		margin-top: 38px;
	}
	.become-member-text {
		max-width: 100%;
	}
	.grid > div {
		width: 50%;
	}
	.grid .grid-big {
		width: 100%;
	}
	.showrooms-hover p {
		font-size: 10px;
	}
	.showrooms-hover h6 {
		font-size: 10px;
		margin: 0 0 5px 0;
	}
	.showrooms-plus {
		height: 50px;
		width: 50px;
	}
	.showrooms-plus:after {
		border-right-width: 50px;
		border-top-width: 50px;
	}
	.showrooms-plus .fa {
		bottom: 10px;
		right: 10px;
	}
	.top-page {
		padding-top: 58%;
	}
	.story-block:before, .story-block:after, .story-columns:after {
		display: none;
	}
	.story-block {
		padding-top: 0;
		padding-bottom: 80px;
	}
	.text-slider-quote {
		font-size: 16px;
		line-height: 22px;
	}
	.cart-form {
		padding: 0;
	}
	.cart-form::before, .cart-form::after {
		display: none;
	}
	.cart thead {
		display: none;
	}
	.cart, .cart tbody, .cart tr, .cart td {
		display: block;
	}
	.cart, {
		border-bottom: 10px solid #333;	
	}
	.cart tr {
		border: 10px solid #333;	
		border-bottom: none;
	}
	.title-product-cart {
		text-align: center;
	}
	.info-product-cart {
		text-align: center;
	}
	.cart tbody tr:last-child td {
		border-bottom: 2px solid #f5f5f5;
	}
	.footer-cart-left > div {
		padding: 0;
		float: none;
		border-left: none;
		text-align: center;
		border-bottom: 1px solid #797979;
		padding: 5px;
	}
	.footer-cart-left {
		float: none;
	}
	.footer-cart .btn {
		float: none;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.footer-cart {
		text-align: center;
	}
	.category-block h4 {
		font-size: 24px;
	}
	.category-block {
		font-size: 14px;
		padding: 19px 28px;
	}
	.category-text {
		padding: 19px 28px;
	}
	.project-text {
		padding-left: 15px;
	}
	.contact-block-left {
		padding-right: 0;
		margin-bottom: 80px;
	}
	.text-lg2 {
		font-size: 16px;
		line-height: 24px;
	}
	.form-wrap {
		padding-right: 0;
		padding-left: 20px;
	}
	.form-group-position {
		padding-right: 0;
		padding-top: 43px;
	}
	.form-group-position .answer-wrap {
		top: 0;
		margin-top: 0;
	}
	.form-step .section-three-type-number {
	    left: -33px;
	    top: 46px;
	}
	.section-three-type-number {
		font-size: 30px;
	}

	.product-left {
		padding: 0;
		margin-bottom: 80px;
	}
	.content-tabs {
		padding-left: 0;
		padding-right: 0;
	}
	.title-tabs {
		padding-left: 0;
		margin-top: 80px;
	}
	.title-tabs a {
		font-size: 12px;
		padding: 4px 10px;
	}
	.content-slide {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		.title-primary {
			font-size: 20px;
		}
		.sum-product {
			font-size: 20px;
		}
		.sum-product > span {
			font-size: 20px;
		}
		.product-top-info {
			margin-bottom: 0;
		}
		.product-text {
    		font-size: 10px;
    		line-height: 12px;
    	}
    	.product-btns {
    		a {
    			margin-right: 4px;
    			&:last-child {
    				margin-right: 0;
    			}
    		}
    	}
	}
	.product-grid {
		padding-left: 0;
	}
	.content-text p {
		padding-right: 0;
	}
	.form-style > .row::before {
		display: none;
	}
	.form-style > .row.active .text-position::after {
		display: none;
	}
	.text-position-number {
		display: none;
	}
	.form-style {
		overflow: visible;
	}
	.left-form {
	    padding-left: 30px;
	    padding-right: 15px;
	}
	.form-step .section-three-type-number {
	    left: -28px;
	    top: 26px;
	}
	.form-style .section-three-type-number {
		font-size: 30px;
	}
	.text-position {
		margin: 0;
		padding: 0;
	}
	.form-full-width {
		padding-left: 0;
	}
	.form-group-colors {
		padding-right: 0;
		padding-top: 60px;
	}
	.checkbox-style span {
		padding: 10px 15px 10px 35px;
		font-size: 12px;
	}
	.checkbox-style .fa {
		height: 16px;
		width: 16px;
		line-height: 14px;
		margin-top: -8px;
		font-size: 10px;
	}
}



@media (max-width: 359px) {
	.top-page-content h1 {
		font-size: 24px;
		line-height: 24px;
	}
	.top-page-content {
	    font-size: 12px;
	    line-height: 14px;
	}
	.become-member-text p {
		font-size: 24px;
	}
}